<div class="status info">
    <h2>Service outage notification</h2>

    <p>The following transport and motoring online services may be unavailable from 6.15pm
        to 11pm Friday, 22 August 2014, and from 6pm to 8pm Sunday, 24 August 2014:</p>
    <ul>
        <li>Agricultural chemicals distribution licensee search</li>
        <li>Camera detected infringement notice</li>
        <li>Driver licence change of address</li>
        <li>Driver licence renewal</li>
        <li>Driver licence replacement</li>
        <li>Driving test bookings</li>
        <li>High-powered vehicle check</li>
        <li>Registration renewal&mdash;vehicle and vessel</li>
        <li>Registration transfer&mdash;vehicle</li>
        <li>Replacement registration certificate/label</li>
        <li>Smoky vehicles</li>
        <li>Traffic history report</li>
        <li>Unregistered vehicle permit</li>
        <li>Vehicle information check (formerly Vcheck)</li>
        <li>Vehicle inspection bookings</li>
        <li>Vehicle registration check</li>
        <li>Vehicle registration quote</li>
        <li>Waste tracking certificates</li>
    </ul>

    <p>There are 2 scheduled outages to online services this weekend.</p>
    <p>The following services may be unavailable from 10pm Sunday, 17 August 2014 to 5am Monday, 18 August 2014:</p>
    <ul>
        <li>Camping permits</li>
        <li>Car baby seats</li>
        <li>Family history research</li>
        <li>First aid courses</li>
        <li>Fisheries development planning infringement notice</li>
        <li>Fisheries infringement notice</li>
        <li>Forms on this website including the contact us form</li>
        <li>JP Shop</li>
        <li>Plumbers and drainers licence renewal</li>
        <li>Pool safety register</li>
        <li>Property (lot on plan) searches</li>
        <li>Registered training organisation (RTO) annual registration</li>
        <li>Right To Information (RTI)</li>
        <li>State Assessment and Referral Agency (SARA)</li>
        <li>Stocked impoundment permit service</li>
    </ul>
</div>