<div class="search-widget" id="services-search">
    <div class="widget-header">
        <h2>Search for services</h2>
    </div>
    <form id="services-form">
        <div class="exlayouttable">
            <ol class="questions form-section">
                <li class="widget-col-half-left">
                    <label for="category"><span class="label">Category</span></label>
                    <select size="1" id="category" name="category" class="param">
                        <option value="" selected="selected">All</option>
                        <option value="aboriginal-and-torres-strait-islander-peoples">Aboriginal and Torres Strait Islander peoples</option>
                        <option value="about-queensland-and-its-government">About Queensland and its government</option>
                        <option value="business-and-industry">Business and industry</option>
                        <option value="community-support">Community support</option>
                        <option value="education-and-training">Education and training</option>
                        <option value="emergency-services-and-safety">Emergency services and safety</option>
                        <option value="employment-and-jobs">Employment and jobs</option>
                        <option value="environment-land-and-water">Environment, land and water</option>
                        <option value="health-and-wellbeing">Health and wellbeing</option>
                        <option value="homes-and-housing">Homes and housing</option>
                        <option value="parents-and-families">Parents and families</option>
                        <option value="people-with-disability">People with disability</option>
                        <option value="recreation-sports-and-arts">Recreation, sports and arts</option>
                        <option value="seniors">Seniors</option>
                        <option value="transport-and-motoring">Transport and motoring</option>
                        <option value="your-rights-crime-and-the-law">Your rights, crime and the law</option>
                        <option value="youth">Youth</option>
                    </select>
                </li>
                <li class="widget-col-half-right">
                    <label for="type"><span class="label">Service type</span></label>
                    <select id="type" name="type" class="param">
                        <option value="" selected="selected">All</option>
                        <option value="pay-it">Pay it</option>
                        <option value="find-it">Find it</option>
                        <option value="apply-for-it">Apply for it</option>
                        <option value="buy-it">Buy it</option>
                        <option value="report-it">Report it</option>
                    </select>
                </li>
                <li class="widget-col-full">
                    <label for="keywords"><span class="label">Keywords</span></label>
                    <input accesskey="6" type="search" name="keywords" id="keywords" size="25" value="" placeholder="Enter search term" />
                </li>
            </ol>
        </div>
        <ol class="questions footer-section">
            <li class="footer">
                <ul class="actions">
                    <li>
                        <strong><input type="submit" value="Filter results"/></strong>
                    </li>
                    <li>
                        <em><input class="reset" type="button" value="Reset"/></em>
                    </li>
                </ul>
            </li>
        </ol>
    </form>
</div>