
.status {
    margin-bottom: 1.66em;
}

.services-list .service-type .header {
    position: relative;
    min-height: 75px;
}

.services-list .service-type .header:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
}

.services-list .service-type .header h3 {
    float: left;
    font-size: 1.4em;
    margin-top: 0.9em;
    margin-left: 90px;
}

.services-list .service-type .service-icon {
    position: absolute;
    top: 0;
    left: 0;
}

.services-list .service-type ul {
    margin-top: 0;
    margin-left: 60px;
}

.kiosk .service-type ul {
    margin-top: 0;
    margin-left: 50px;
}

.kiosk .service-type ul a {
    display: block;
    margin: 4px 0;
    padding: 6px 10px;
}